# MongoDB Configuration
MONGO_HOST=your_mongodb_host
MONGO_PORT=27017
MONGO_DATABASE=SmartCare
MONGO_USERNAME=your_username
MONGO_PASSWORD=your_password
MONGO_AUTH_DB=SmartCare

# Server Configuration
SERVER_PORT=8080

# Hospital Name
HOSPITAL_NAME=your_hospital_name
