<ng-container *ngIf="hostPatient.demographics$ | async as vm">
  <div class="info-row">
    <span><strong>姓名：</strong>{{ vm.name }}</span>
    <span><strong>性别：</strong>{{ vm.genderLabel }}</span>
    <span><strong>年龄：</strong>{{ vm.ageLabel }}</span>
    <span><strong>科室：</strong>{{ vm.dept }}</span>
    <span><strong>床号：</strong>{{ vm.bed }}</span>
    <span><strong>住院号：</strong>{{ vm.mrn }}</span>
  </div>
  <div class="info-row">
    <span><strong>诊断：</strong>{{ vm.clinicalDiagnosis }}</span>
    <ng-content></ng-content>
  </div>
</ng-container>
